* {
    box-sizing: border-box;
    body {
        background-color: $backgroundColor;
        font-family: $mainFont;
        font-size: 14px;
        width: 100%;
        margin: 0;
        header {
            background-color: $brandColor;
            width: 100%;
            height: auto;
            margin: 0;
            border-bottom: medium solid $accentColor;
            position: sticky;
            top: 0;
            z-index: 1;
            .headerContent {
            display: flex;
            flex-direction: row;
            height: auto;
            color: $brandFontColor;
            width: auto;
            max-height: 100%;
            margin: auto;
            align-items: center;
            justify-content: center;
            padding: 5% 0;
                img {
                    width: 10vh;
                    height: auto;
                    margin: auto 0;
                }
                .headerText {
                    text-align: center;
                    margin: 0 0 0 5%;
                    width: auto;
                    h1 {
                        font-size: 1.20rem;
                        margin: 2% 0 0 0;
                        font-weight: 400;
                    }
                    h2 {
                        font-size: .75rem;
                        font-weight: 400;
                    }
                }
                .headerBaseBar {
                background-color: $accentColor;
                height: 10px;
                }
            }
        }
        .allDwellingsContainer {
            min-height: 90vh;
            .dwellingContainer {
                width: 95%;
                background-color: #ffffff;
                margin: 2vh auto;
                border: 1px solid $brandColor;
                color: $brandColor;
                padding-bottom: 4%;
                position: relative;
                .dwellingImageContainer {
                    position: relative;
                    text-align: center;
                    color: #ffffff;
                    // min-height: 55%;
                    .imageStatusText {
                        opacity: 0.8;
                        background-color:$brandColor;
                        color: $accentColor;
                        top: 0%;
                        right: 0%;
                        position: absolute;
                        padding: 10px 20px 10px 20px;
                        text-transform: uppercase;
                    }
                    .dwellingMainImage {
                        width: 100%;
                        overflow: hidden;
                        position: relative;
                    }
                }
                .dwellingInfo {
                    padding-top: 5%;
                    padding-bottom: 10%;
                    width: 90%;
                    font-family: $mainFont;
                    font-size: $bodyFont;
                    margin: auto;
                    .info {
                        padding-bottom: 3%;
                    }
                    hr {
                        width: 100%;
                        margin: 4% auto;
                        border-top: 1px solid $brandColor;
                    }
                }
                form {
                    text-align: center;
                    button {
                        font-family: $mainFont;
                        background-color: $brandColor;
                        color: $brandFontColor;
                        border: none;
                        padding: 15px 32px;
                        text-decoration: none;
                        font-size: 16px;
                        width: 90%;
                        margin: auto;
                        &:hover {
                            background-color: $accentColor;
                            color: $brandColor;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
        footer {
            position: relative;
            bottom: 0;
            height: 8vh;
            background-color: $brandColor;
            width: 100%;
            color: $accentColor;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            align-items: center;
            .footerText {
                margin-left: 5%;
                font-size: 10px;
                width: 60%;
            }
            .toTop {
                margin-right:5%;
                font-size: 24px;
                width: auto;
                max-height: 100%;
                a {
                    text-decoration: none;
                    color: $accentColor;
                }
                a:visited {
                    text-decoration: none;
                    color: $accentColor;
                }
            }
        }
    }
}