@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 


    body {
            background-color: $backgroundColor;
            font-family: $mainFont;
        header {

            background-color: $brandColor;
            width: 100%;

            .headerContent {
            display: flex;
            text-align: center;
            height: auto;
            color: $brandFontColor;
            width: 80%;
            margin: auto;



                img {
                    
                }

                .headerText {

                    display: flex;
                    flex-direction: column;
                    
                    h1 {

                    }

                    h2 {

                    }

                }

                .headerBaseBar {
                background-color: $accentColor;

                }
            }
        }
    }
}