.propertyDetailsImage {
    width: 100%;
    height: auto;
}
.desktopImage {
    display: none;
}
.propertyDetailsText {
    width: 90%;
    margin: 10px auto;
    .info {
        padding-bottom: 3%;
    }
    .price {
        font-weight: 600;
    }
    .descriptionHeader {
        font-weight: 600;
    }
}