.propertyDetailsImage {
    width: 100%;
    height: auto;
}

.desktopImage {
    display: none;
}

.propertyDetailsText {
    width: 90%;
    margin: 10px auto;
    .info {
        padding-bottom: 3%;
    }
}

