@media only screen 
and (min-width : 768px) 
and (max-width : 1023px) {
    body {
        header {
            .headerContent {
               width: auto;
                .headerText {
                    h1 {
                        font-size: 1.5rem;
                    }
                    h2 {
                        font-size: 1rem;
                    }
                }
            }
        }
    }
}